In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [ ]:
#1. Collect
file_path = 'diabetes.csv'
data = pd.read_csv(file_path)

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

In [ ]:
print(data.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0            6      148             72             35        0  33.6
1            1       85             66             29        0  26.6
2            8      183             64              0        0  23.3
3            1       89             66             23       94  28.1
4            0      137             40             35      168  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1

In [ ]:
#2. Clean
print(data.isnull().sum())

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
new_data = data.drop_duplicates()

In [ ]:
columns_to_replace = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age']
new_data[columns_to_replace] = new_data[columns_to_replace].replace(0, np.nan)

new_data.fillna(new_data.mean(), inplace=True)


print(new_data.head())

   Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
0     6.000000    148.0           72.0       35.00000  155.548223  33.6
1     1.000000     85.0           66.0       29.00000  155.548223  26.6
2     8.000000    183.0           64.0       29.15342  155.548223  23.3
3     1.000000     89.0           66.0       23.00000   94.000000  28.1
4     4.494673    137.0           40.0       35.00000  168.000000  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50        1
1                     0.351   31        0
2                     0.672   32        1
3                     0.167   21        0
4                     2.288   33        1

In [ ]:
print(new_data.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
print(new_data.describe())

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      4.494673  121.686763      72.405184      29.153420  155.548223
std       2.975395   30.435949      12.096346       8.790942   85.021108
min       1.000000   44.000000      24.000000       7.000000   14.000000
25%       2.000000   99.750000      64.000000      25.000000  121.500000
50%       4.494673  117.000000      72.202592      29.153420  155.548223
75%       6.000000  140.250000      80.000000      32.000000  155.548223
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    32.457464                  0.471876   33.240885    0.348958
std      6.875151                  0.331329   11.760232    0.476951
min     18.200000                  0.078000   21.000000    0.000000
25%     27.500000                  0.243750   24.000000    0.000000
50%     32.400000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [ ]:
#3. Integrate
new_file_path = 'pima-indians-diabetes.csv'
new_data2 = pd.read_csv(new_file_path)

print(new_data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 767 entries, 0 to 766
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   6       767 non-null    int64
 1   148     767 non-null    int64
 2   72      767 non-null    int64
 3   35      767 non-null    int64
 4   0       767 non-null    int64
 5   33.6    767 non-null    float64
 6   0.627   767 non-null    float64
 7   50      767 non-null    int64
 8   1       767 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

In [ ]:
print("null values")
print(new_data2.isnull().sum())

new_data2 = new_data2.drop_duplicates()

columns_to_replace = new_data2.columns[:-1]
new_data2[columns_to_replace] = new_data2[columns_to_replace].replace(0, np.nan)

new_data2.fillna(new_data2.mean(), inplace=True)

print("\n sample data")
print(new_data2.head())

print("\n description")
print(new_data2.describe())

null values
6        0
148      0
72       0
35       0
0        0
33.6     0
0.627    0
50       0
1        0
dtype: int64

 sample data
          6    148    72         35           0  33.6  0.627  50  1
0  1.000000   85.0  66.0  29.000000  155.548223  26.6  0.351  31  0
1  8.000000  183.0  64.0  29.142593  155.548223  23.3  0.672  32  1
2  1.000000   89.0  66.0  23.000000   94.000000  28.1  0.167  21  0
3  4.492378  137.0  40.0  35.000000  168.000000  43.1  2.288  33  1
4  5.000000  116.0  74.0  29.142593  155.548223  25.6  0.201  30  0

 description
                6         148          72          35           0        33.6  \
count  767.000000  767.000000  767.000000  767.000000  767.000000  767.000000
mean     4.492378  121.652231   72.405738   29.142593  155.548223   32.455952
std      2.976839   30.440947   12.104231    8.794137   85.076586    6.879514
min      1.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      2.000000   99.500000   64.000000   25.000000  121.000000   27.500000
50%      4.492378  117.000000   72.405738   29.142593  155.548223   32.400000
75%      6.000000  140.000000   80.000000   32.000000  155.548223   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

            0.627          50           1
count  767.000000  767.000000  767.000000
mean     0.471674   33.219035    0.348110
std      0.331497   11.752296    0.476682
min      0.078000   21.000000    0.000000
25%      0.243500   24.000000    0.000000
50%      0.371000   29.000000    0.000000
75%      0.625000   41.000000    1.000000
max      2.420000   81.000000    1.000000

In [ ]:
combined_data = pd.concat([new_data, new_data2], ignore_index=True)

In [ ]:
print(combined_data.info())
print(combined_data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    float64
 1   Glucose                   768 non-null    float64
 2   BloodPressure             768 non-null    float64
 3   SkinThickness             768 non-null    float64
 4   Insulin                   768 non-null    float64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    float64
 8   Outcome                   768 non-null    float64
 9   6                         767 non-null    float64
 10  148                       767 non-null    float64
 11  72                        767 non-null    float64
 12  35                        767 non-null    float64
 13  0                         767 non-null    float64
 14  33.6                      767 non-null    float64
 15  0.627                     767 non-null    float64
 16  50                        767 non-null    float64
 17  1                         767 non-null    float64
dtypes: float64(18)
memory usage: 216.0 KB
None
   Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
0     6.000000    148.0           72.0       35.00000  155.548223  33.6
1     1.000000     85.0           66.0       29.00000  155.548223  26.6
2     8.000000    183.0           64.0       29.15342  155.548223  23.3
3     1.000000     89.0           66.0       23.00000   94.000000  28.1
4     4.494673    137.0           40.0       35.00000  168.000000  43.1

   DiabetesPedigreeFunction   Age  Outcome   6  148  72  35   0  33.6  0.627  \
0                     0.627  50.0      1.0 NaN  NaN NaN NaN NaN   NaN    NaN
1                     0.351  31.0      0.0 NaN  NaN NaN NaN NaN   NaN    NaN
2                     0.672  32.0      1.0 NaN  NaN NaN NaN NaN   NaN    NaN
3                     0.167  21.0      0.0 NaN  NaN NaN NaN NaN   NaN    NaN
4                     2.288  33.0      1.0 NaN  NaN NaN NaN NaN   NaN    NaN

   50   1
0 NaN NaN
1 NaN NaN
2 NaN NaN
3 NaN NaN
4 NaN NaN

In [ ]:
#4. Transform
numeric_cols = combined_data.select_dtypes(include=[np.number]).columns
scaler = StandardScaler()

In [ ]:
combined_data[numeric_cols] = scaler.fit_transform(combined_data[numeric_cols])

In [ ]:
print(combined_data.head())

    Pregnancies   Glucose  BloodPressure  SkinThickness       Insulin  \
0  5.062549e-01  0.865108      -0.033518       0.665502 -3.345079e-16
1 -1.175289e+00 -1.206162      -0.529859      -0.017463 -3.345079e-16
2  1.178873e+00  2.015813      -0.695306       0.000000 -3.345079e-16
3 -1.175289e+00 -1.074652      -0.529859      -0.700429 -7.243887e-01
4  2.987023e-16  0.503458      -2.680669       0.665502  1.465506e-01

        BMI  DiabetesPedigreeFunction       Age   Outcome   6  148  72  35  \
0  0.166292                  0.468492  1.425995  1.365896 NaN  NaN NaN NaN
1 -0.852531                 -0.365061 -0.190672 -0.732120 NaN  NaN NaN NaN
2 -1.332833                  0.604397 -0.105584  1.365896 NaN  NaN NaN NaN
3 -0.634212                 -0.920763 -1.041549 -0.732120 NaN  NaN NaN NaN
4  1.548980                  5.484909 -0.020496  1.365896 NaN  NaN NaN NaN

    0  33.6  0.627  50   1
0 NaN   NaN    NaN NaN NaN
1 NaN   NaN    NaN NaN NaN
2 NaN   NaN    NaN NaN NaN
3 NaN   NaN    NaN NaN NaN
4 NaN   NaN    NaN NaN NaN

In [ ]:
cleaned_file_path = 'combined_data.csv'
combined_data.to_csv(cleaned_file_path, index=False)

In [ ]:
This practical showcased the essential data preparation steps of collecting, cleaning, integrating, and transforming two diabetes datasets. Missing values were handled, duplicates removed, and datasets combined using Pandas functions. Numerical features were then standardized using scikit-learn's StandardScaler, resulting in a cleaned and transformed dataset saved as "combined_data.csv," ready for subsequent analysis and modeling. This process ensures data reliability and suitability for further data science tasks.